extends layout

block content
  form(action="/notes", method="post")
    div
      label(for="title") Title
      input(type="text", id="title", name="title")
    div
      label(for="body") Body
      textarea(id="body", name="body", rows="8")

    div(class="form-actions")
      button(type="submit") Create Note
